.card-container {
    display: block;
    border: solid 1px var(--line);
    width: 20vh;
    height: 20vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}