.card-container {
    display: block;
    border: solid 1px var(--line);
    width: 20vh;
    height: 20vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;

    animation: ease-in-out all 0.4s;
    transition: ease-in-out all 0.1s;

    box-shadow: 0 0 8px rgba(126, 247, 176, 0.25),
                0 0 16px rgba(126, 247, 176, 0.25),
                0 0 32px rgba(126, 247, 176, 0.25);

    margin: 1vh;

    &:hover {
        border-color: white;
        outline: solid 4px var(--line);+
        
        .name{
            color: white;
        }
    }

    .name{
        background-color: rgba(0, 0, 0, 0.674);
        width: 100%;
        font-size: 0.8em;
        margin-top: 0;
        padding: 2px 3px;
    }


}