.card-container {
    display: block;
    border: solid 1px var(--line);
    width: 20vh;
    height: 20vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .name{
        background-color: rgba(0, 0, 0, 0.674);
        width: 100%;
        font-size: 0.8em;
        margin-top: 0;
        padding: 2px 3px;
    }
}